.page{
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(21, 115, 71);
  transition: background 0.3s ease;
}

a:hover {
  color: black !important;
}
.page-nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.current-page {
  position: absolute;
  right: 16px;
}